.home {
  @include breakpoint("to-tablet-l") {
    display: flex;
    flex-direction: column;
  }
  &__details {
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    text-align: center;
  }
  &__title {
    margin-bottom: 5px;
  }

  &__schemes {
    &__items {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 70px;
      @include breakpoint("to-tablet-l") {
      }
    }

    .list-group-item {
      position: relative;      
      padding: 0.75rem 1.25rem;
      margin-bottom: 1px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);
      display: flex;
      flex-direction: column;

      @include breakpoint("phone") {
        word-wrap: break-word;
      }

      &:hover {
        cursor: pointer;
        .home__scheme__title {
          color: $color-main !important;
        }
      }

      .home__scheme__title{
        font-size: 1.5rem;
        font-weight: 500;
        color: #2b2b2b;
        text-decoration: none;
        margin-bottom: 30px;
      }
      
      &.status-light {
        padding-left: 3rem;
      }

      p::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        left: 25px;
        margin-top: 3px;
      }

      .scheme_description {
        color: #8f8289;
        word-break: break-all;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .ok.with-data {
      p::before {
        background-color: green;
      }
    }
    .failed {
      p::before {
        background-color: rgb(255, 67, 67);
      }
    }

    p {
      font-size: 1rem;
      margin: 0;
      font-weight: 500;
    }
  }
}
